@import "tailwindcss";

@plugin '@tailwindcss/typography';

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@plugin "daisyui" {
  themes: uhurus --default;
}

@plugin "daisyui/theme" {
  name: "uhurus";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #101828;
  --color-primary: #006b5e;
  --color-primary-content: #374151;
  --color-secondary: #339e89;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #00d492;
  --color-accent-content: #101828;
  --color-neutral: #101828;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: #1d9cff;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #ebe784;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #ff5f3c;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
