---
const { title, description, icon, iconText, centered } = Astro.props
---

<div class="card shadow-md">
  <div class={"card-body " + (centered !== undefined ? "text-center" : "")}>
    <div
      class={"badge badge-soft badge-accent w-16 h-16 rounded-full " +
        (centered ? "mx-auto" : "")}
    >
      <i class={"fas text-accent text-xl " + icon}> {iconText} </i>
    </div>

    <h2 class={"card-title " + (centered ? "mx-auto" : "")}>{title}</h2>
    <p class="text-neutral">{description}</p>
    <slot />
  </div>
</div>
