@import "../CSSmethods/vendor.styl"
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700")

THEME = #00A362
DARK  = #444

html, body
  height 100%
  margin 0

body
  font-family 'Roboto Condensed', sans-serif
  background DARK
  border 5px solid THEME
  box-sizing border-box
  width 100%

#mail
  text-align center
  font-size 5em
  margin-top 0
  a
    text-decoration none
    color THEME
    padding 1rem 2rem
    transition all 400ms
    border 1px solid THEME
    border-radius 5px
    &:hover
      color DARK
      background THEME

#hero
  margin 0
  padding 10% 0
  text-align center
  font-size 13em
  transition-duration 1s
  transition all 1s
  color THEME

  span
    display inline-block;
    transition all 0.5s
    perspective 1000px
    transform-style preserve-3d

    &:after
      background rgba(0,0,0,0.2)
      content ""
      position absolute
      width 100%
      height 50%
      left 0
      bottom 0
      transform rotateX(90deg)
      transform-origin bottom

    &:before
      content ""
      position absolute
      top 0
      left 0
      background rgba(0,0,0,0)
      width 100%
      height 100%
      box-shadow 0 0 10px 10px rgba(0,0,0,0)
      transition all .5s
      transform rotateX(80deg) translateZ(-50px) scale(0.75)
      transform-origin bottom

    &:hover
      transform rotateX(30deg)
      transform-origin bottom

      &:before
        opacity 1
        background rgba(0,0,0,0.5)
        box-shadow -5px 0 10px 10px rgba(0,0,0,0.5)
        transform rotateX(0) translateZ(-130px) scale(0.85)
    //
    // &.in
    //   box-shadow 0px 1px 10px #aaa inset
    // &.out
    //   box-shadow 0px 1px 5px #aaa
