@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-theme: #00a362;
  --color-bg: #444;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background: var(--color-bg);
  border: 5px solid var(--color-theme);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.social {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.icon {
  padding: .6em;
  transition: all 300ms;
  flex-grow: 1;
  place-content: center;
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: .8em;
}

a.envelope:hover,
a.envelope.active {
  background: var(--color-theme);
  box-shadow: 0 0 1em var(--color-theme);
}

a.icon svg {
  width: 2em;
  margin-bottom: .5em;
}

.icon svg {
  fill: white;
}

@media (max-width: 600px) {
  #hero {
    font-size: 6em !important;
  }
  a.icon {
    font-size: 1em;
  }
}

#hero {
  font-weight: 200;
  margin: 0;
  text-align: center;
  font-size: 10em;
  margin-bottom: 3em;
  color: var(--color-theme);
}

#hero span {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  border-bottom: 3px solid var(--color-theme);
  transition: all 0.3s;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#hero span:after {
  border-top: 3px solid var(--color-theme);
  background: rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

#hero span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  transition: all 0.3s;
  transform: rotateX(80deg) translateZ(-50px) scale(0.75);
  transform-origin: bottom;
}

#hero span:hover {
  font-weight: 400;
  transform: rotateX(30deg);
  transform-origin: bottom;
}

#hero span:hover:before {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0 10px 10px rgba(0, 0, 0, 0.5);
  transform: rotateX(0) translateZ(-130px) scale(0.85);
}