<div class="card shadow-lg bg-base-100">
  <div class="card-body">
    <div class="card-title">Déjanos tu información</div>
    <p class="text-xs">
      Si lo prefieres déjanos tus datos y te contactaremos en menos de 24h
    </p>
    <form
      id="contact-form"
      method="POST"
    >
      <input
        type="hidden"
        name="origin"
        value="uhurus.com"
      />
      <fieldset class="fiedset mb-6">
        <legend class="fieldset-legend">Nombre</legend>
        <input
          required
          type="text"
          name="name"
          aria-label="nombre"
          class="input w-full input-lg"
        />
      </fieldset>
      <fieldset class="fiedset mb-6">
        <legend class="fieldset-legend">Email</legend>
        <input
          required
          type="email"
          aria-label="email"
          name="email"
          class="input input-lg w-full"
        />
      </fieldset>

      <!-- <div class="mb-6">
              <label
                for="service"
                class="block text-gray-700 font-medium mb-2"
                >¿Cómo podemos ayudarte?</label
              >
              <select
                id="service"
                class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-accent"
              >
                <option value="">Selecciona una opción</option>
                <option value="marketplace"
                  >Arquitectura para marketplace</option
                >
                <option value="pagos">Sistema de pagos complejo</option>
                <option value="cumplimiento">Cumplimiento regulatorio</option>
                <option value="otro">Otro</option>
              </select>
            </div> -->
      <fieldset class="fiedset mb-6">
        <legend class="fieldset-legend">¿Cómo podemos ayudarte?</legend>
        <textarea
          required
          aria-label="describe como podemos ayudarte"
          rows="4"
          name="message"
          class="w-full textarea textarea-lg"
        ></textarea>
      </fieldset>

      <fieldset class="fieldset mb-6">
        <label class="label">
          <input
            name="accept-terms"
            id="accept-terms"
            type="checkbox"
            class="checkbox"
          />
          Acepto la <a
            target="_blank"
            href="/legal/politica-privacidad"
            class="link"
            >Política de privacidad</a
          >
        </label>
      </fieldset>
      <button
        disabled
        id="submit"
        type="submit"0
        class="btn btn-accent w-full"
      >
        Enviar mensaje
        <span class="loading hidden"></span>
        <span class="fa-check hidden"></span>
      </button>
      <label class="text-error text-xs ml-2 hidden"
        >Ha habido un error en el envío del formulario.</label
      >
    </form>
  </div>
</div>
<script>
  const form    = document.getElementById("contact-form") as HTMLFormElement
  const submit  = document.getElementById("submit") as HTMLButtonElement
  const loading = submit
    .getElementsByClassName("loading")
    .item(0) as HTMLElement
  const success = submit
    .getElementsByClassName("fa-check")
    .item(0) as HTMLElement
  const error = form.getElementsByClassName("text-error").item(0) as HTMLElement
  let sent = false

  form.addEventListener("submit", async function submitForm(event: Event) {
    event.preventDefault()
    if (sent) return

    const data = new FormData(event.target as HTMLFormElement)
    const text = [...data.entries()].reduce(
      (result, [key, value]) => result + `${key}: ${value}\n`,
      ""
    )

    loading.classList.toggle("hidden")

    await new Promise(resolve => setTimeout(resolve, 500))

    const url = new URL(
      "https://backsheet.dev/p/xk300r-gxbwb2?text=" + encodeURIComponent(text)
    )
    const response = await fetch(url, {
      credentials: "omit",
    })
    .then(response => response.json())
    .catch(error => {})

    loading.classList.toggle("hidden")
    success.classList.replace("hidden", "fas")
    const textElement = submit.childNodes.item(0) as HTMLElement

    if (!response) {
      textElement.textContent = "Ha habido un error"
      submit.classList.replace("btn-accent", "btn-error")
      success.classList.replace("fa-check", "fa-x")
      error?.classList.toggle("hidden")
    } else textElement.textContent = "Enviado"

    return sent = true
  })

  document
    .getElementById("accept-terms")
    ?.addEventListener("click", function toggleSubmit(event: Event) {
      const submit = document.querySelector("#submit") as HTMLButtonElement
      const check = event.target as HTMLInputElement
      submit.disabled = !check.checked
    })
</script>
